.preloader {
  width: 100%;
  height: 31px;
  text-align: center; }

.cssload-speeding-wheel {
  width: 31px;
  height: 31px;
  margin: 0 auto;
  border: 2px solid rgba(97, 100, 193, 0.98);
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: cssload-spin 425ms infinite linear;
  -o-animation: cssload-spin 425ms infinite linear;
  -ms-animation: cssload-spin 425ms infinite linear;
  -webkit-animation: cssload-spin 425ms infinite linear;
  -moz-animation: cssload-spin 425ms infinite linear; }
